body{
    margin:0; /*od kad sam ovo stavila ne treba mi width:100%  ni u meniju*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#bb383c,lightgray);
    background-repeat: no-repeat;
}
#meni{
    display:grid;
    padding-right: 20px; /*da odvoji od desne ivice ekrana*/
    grid-auto-flow: column;
    background-color: black;
    color:white;
}

#linkovi ul{
    display:grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    list-style: none;
    
}
#linkovi li{
    padding:15px; 
    font-size: 18px;
}
#linkovi a{
    text-decoration: none;
    color:white;
}
#linkovi li:hover{
    background-color: rgb(104, 103, 103);
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
}
#logo img{
    padding-left: 20px;
    width:10%;
}

#naslovna img{
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 0px;
     margin-top: 0px;
     padding-top: 0px;
     padding-bottom: 0px;
     padding-left: 160px;
     padding-right: 160px;
     width: 900px;
     height: 550px;
     text-align: center;
 }

 .footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #000000;
    padding: 10px;
    
}
  
 .footer > div {
    background-color: #000000;
    color:#fff;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
  }
.footer ul{
    list-style-type: none;
}
.footer a{
    text-decoration: none;
    color:white;

}
.footer a:hover{
    color:#bb383c;

}


/*Ovo su one ikone za drustvene mreze(to je sve ovo sa klasom .fa)*/
.footer .fa{
    font-size:30px; 
}

.fa {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}



@media (max-width: 800px) {
    

    /*Responzivnost za futer*/
   
    /*pogledaj kako su podeseni divovi u futeru, stoje svi u jednom redu, 3 kolone(3 diva)*/
    .footer > div { /*kada smanjimo prozor na manje od 800px svi divovi u futeru treba da se pretvore u kolonu koja ce biti siroka 3 kolone(zbog span=3)*/
      grid-column: span 3;
    }
  
    /*Responzivost za meni*/
    
    
  }
  
