.izbor {
  display: flex;
}

.izbor div {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  background-color: rgb(223, 175, 175);
  margin-right: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 0;
}

.izbor div img {
  width: 300px;
  height: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

h1 {
  padding-top: 15px;
  margin-top: 50px;
  text-align: center;
}

hr {
  width: 100%;
  height: 1px;
  background: black;
  margin-top: 50px;
}

.kutija {
  display: block;
  width: 90%;
  margin-top: 50px;
  margin-left: 50px;
  padding: auto auto;
  align-self: center;
  
}

.kutija h2{
  text-align: center;
}

.kutija div {
  margin-top: 50px;
  background-color: slategray;
  display: inline-block;
  min-width: 100%;
  text-align: center;
  padding-bottom: -10px;
 
}

.kutija div img {
  width: 300px;
  height: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  float: left;
}

.kutija h3{
  font-weight: lighter;

}

.kutija #zanimljivost1, #zanimljivost2, #zanimljivost3, #zanimljivost4{
  font-style: italic;
}

.izbor div{
  display: grid;
  text-align: center;
}

#btn1, #btn2, #btn3, #btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-height: 30px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;
}

p{
  margin-top: 5px;
}
