body{
    margin:0; /*od kad sam ovo stavila ne treba mi width:100%  ni u meniju*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#bb383c,lightgray);
    background-repeat: no-repeat;
}

nav {
    background: black;
    padding: 5px 20px;
  
  }
nav  ul {
    list-style-type: none;
  }
.nav-item:hover{
      background-color: rgb(153, 148, 148);
  }
nav a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
 
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }

  
  
  /* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:White;
}

.toggle {
   order:1;
 
  
}
 
.nav-item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
  .nav-item.active {
    display: block;
}
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background:white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  
  
  /* Desktop menu */
  @media all and (min-width: 650px) {
    .menu{
        display:flex;
    }
    .nav-item {
        display: block;
        width: auto;
    }
    .logo {
        flex:1;
    }
    .toggle {
        display: none;
    }
    
    
    .menu li {
        padding: 15px 10px;
    }
    
    
  }

#naslovna img{
    padding:0;
    width:100%;
 }

 .footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #000000;
    padding: 10px;
    
}
  
 .footer > div {
    background-color: #000000;
    color:#fff;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
  }
.footer ul{
    list-style-type: none;
}
.footer a{
    text-decoration: none;
    color:white;

}
.footer a:hover{
    color:#bb383c;

}


/*Ovo su one ikone za drustvene mreze(to je sve ovo sa klasom .fa)*/
.footer .fa{
    font-size:30px; 
}

.fa {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}



@media (max-width: 800px) {
    

    /*Responzivnost za futer*/
   
    /*pogledaj kako su podeseni divovi u futeru, stoje svi u jednom redu, 3 kolone(3 diva)*/
    .footer > div { /*kada smanjimo prozor na manje od 800px svi divovi u futeru treba da se pretvore u kolonu koja ce biti siroka 3 kolone(zbog span=3)*/
      grid-column: span 3;
    }
  
    
    
    
  }
  
